/*
Кнопки и всякие синенькие штучки - #2196F3
Логотин - #000
Заголовки - #212121
Текст под заголовками - #757575
Текст подвал и hero-title #FFFFFF
Фон шапки и подвала - #2F303A
Кнопки в портфолио - #F5F4FA

*/
:root {
  --accent-color: #2196f3;
  --logo-color: #000000;
  --title-color: #212121;
  --content-color: #757575;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --button-color: #f5f4fa;
  --main-font: 'Roboto', sans-serif;
  --accent-font: 'Raleway' sans-serif;
}

body {
  color: var(--content-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.current-page {
  color: var(--accent-color);
}

/*Header Section*/

.logo {
  color: var(--logo-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192px;
  letter-spacing: 0.03em;
}

.web-logo {
  color: var(--accent-color);
}

.nav .link {
  color: var(--title-color);
  cursor: pointer;
}

.nav .link:hover,
.nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--content-color);
  cursor: pointer;
}

/*HERO SECTION*/

.hero {
  background: var(--background-color);
}

.hero-title {
  color: var(--white-color);
  text-align: center;
}

.hero-btn {
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.studio-title {
  color: var(--title-color);
  text-align: center;
}

.feature-title {
  color: var(--title-color);
}

.name-title {
  color: var(--title-color);
}

.project-title {
  color: var(--title-color);
}

/*FOOTER SECTION*/

.footer-logo {
  color: var(--white-color);
}

.footer-logo .web-logo {
  color: var(--accent-color);
}

.footer a:visited {
  color: var(--white-color);
}

.footer {
  color: var(--white-color);
  background-color: var(--background-color);
}

.footer-contacts .link {
  color: var(--white-color);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

/*PORTFOLIO SECTION*/

.portfolio-title {
  visibility: hidden;
}

.portfolio-btn {
  background-color: var(--button-color);
  color: var(--title-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
